extends layout

block content
  .content 
      h1 Title: #{title}
      h3 Category: #{category}
      h3 SellerID #{userid}
      p Description #{description}
      p Price: #{price}
      p ListingID: #{id} 
      img(src="#{imageurl}")
      
