extends layout

block content
  .content 
    .left-col
      h1 Title #{title}
      h3 category #{category}
      h3 SellerID #{userID}
      p Decription #{decription}
    .right-col
      p Price #{price}
      
